# Virtual environment
venv/

# VSCode
.vscode/

# Python cache
__pycache__/
*.pyc

# Arquivos de ambiente
.env

# Logs
*.log
projeto02/__pycache__/classifier.cpython-312.pyc
projeto02/__pycache__/llm_client.cpython-312.pyc
projeto02/__pycache__/validator.cpython-312.pyc
